@font-face {
  font-family: 'Jersey';
  src: url(font/Jersey_25/Jersey25-Regular.ttf);
}

header {
  padding: 20px;
  margin-top: 0px;
  z-index: 2;
  position: fixed;
}

body {
    font-family: 'Jersey';
    background-image: url(img/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: space-between;
    position: relative;
    color: white;
  }

  header h1{
    text-align: left;
  }
 
  nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  
  nav ul li a{
    margin-right: 0px;
    border-bottom: none;
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 8px;
    display: inline-block;
  }
  
  nav ul li a:hover{
    text-transform: uppercase;
    border: 5px;
    background-color: #333;
    border-radius: 12px;
    transition: 0.6s;
  }
 
  a{
    color: white;
  }

  main {
    padding: 20px;
    padding-top: 200px;
  }
  
  section {
    margin-bottom: 30px;
    text-align: center;
  }
  
  h1, h2 {
    color: #333;
    text-align: center;
  }

div img{
  height: 150px;
  max-width: 100%;
  padding: 15px;
  display: inline-block;
}

#inicio{
    text-align: center;
}

#formulario{
    display: block;
}

.redesSociales{
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    list-style:none;
    color: white;
    font-size: 2.5em;
    justify-content: center;
}

.redesSociales li{
    padding: 20px;
    justify-content: center;
}

  footer {
    color: #333;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 576px) {
    header {
      padding: 10px;
    }
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
  
  /* Estilos para tabletas y dispositivos de escritorio */
  @media only screen and (min-width: 577px) and (max-width: 992px) {
    nav ul li {
      display: inline;
      margin: 0 10px;
    }
  }
  
